openapi: 3.0.3
info:
  title: Brickwork Admin Appointments Admin Rsvps API
  version: v3
  description: Brickwork (now part of DevHub) omnichannel retail platform API v3. Powers store pages, store locators, appointments, events, RSVPs, in-store services, customers, and local store content for physical retail. Admin endpoints are authenticated with an api_key; front-end store endpoints surface public store, service, and event data. Derived from the provider-published apiDoc reference at production.brickworksoftware.com/api_docs.
  contact:
    name: Brickwork / DevHub
    url: https://www.devhub.com/
  x-apievangelist:
    generated: '2026-07-18'
    method: searched
    source: https://production.brickworksoftware.com/api_docs/ (apiDoc api_data.json)
servers:
- url: https://production.brickworksoftware.com
  description: Production
tags:
- name: Admin Rsvps
paths:
  /{locale}/api/v3/admin/rsvps:
    get:
      summary: List all Rsvps
      operationId: GetLocaleApiV3AdminRsvps
      tags:
      - Admin Rsvps
      description: 'Example: `http://company.com/api/v3/admin/rsvps?query[start_date]=2016-05-28`'
      parameters:
      - name: locale
        in: path
        required: true
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: integer
        description: Page number of your query
      - name: query
        in: query
        required: false
        schema:
          type: object
        description: 'Query parameters for all company events ex: &query[start_date]=2016-05-28'
      - name: query[start_date]
        in: query
        required: false
        schema:
          type: string
        description: Company events select start date "YYYY-MM-DD", defaults to 30 days back
      - name: query[end_date]
        in: query
        required: false
        schema:
          type: string
        description: Company events select end date "YYYY-MM-DD", defaults to today
      - name: query[store_event_ids]
        in: query
        required: false
        schema:
          type: array
        description: Filter rsvps by store event ids [1,2,3]
      - name: query[event_ids]
        in: query
        required: false
        schema:
          type: array
        description: Filter rsvps by event ids [1,2,3]
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  rsvps:
                    type: array
                    description: ''
      security:
      - apiKeyAuth: []
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: query
      name: api_key
      description: Company API key passed as the api_key query parameter.
