openapi: 3.0.3
info:
  title: Brickwork Admin Appointments Events API
  version: v3
  description: Brickwork (now part of DevHub) omnichannel retail platform API v3. Powers store pages, store locators, appointments, events, RSVPs, in-store services, customers, and local store content for physical retail. Admin endpoints are authenticated with an api_key; front-end store endpoints surface public store, service, and event data. Derived from the provider-published apiDoc reference at production.brickworksoftware.com/api_docs.
  contact:
    name: Brickwork / DevHub
    url: https://www.devhub.com/
  x-apievangelist:
    generated: '2026-07-18'
    method: searched
    source: https://production.brickworksoftware.com/api_docs/ (apiDoc api_data.json)
servers:
- url: https://production.brickworksoftware.com
  description: Production
tags:
- name: Events
paths:
  /api/v3/events/{id}:
    get:
      summary: Event
      operationId: GetApiV3EventsId
      tags:
      - Events
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Event ID
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  event:
                    type: object
                    description: ''
  /{locale}/api/v3/events:
    get:
      summary: Event List
      operationId: GetLocaleApiV3Events
      tags:
      - Events
      parameters:
      - name: locale
        in: path
        required: true
        schema:
          type: string
        description: The locale for store data display
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  events:
                    type: array
                    description: ''
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: query
      name: api_key
      description: Company API key passed as the api_key query parameter.
