openapi: 3.0.3
info:
  title: Brickwork Admin Appointments Admin Transactions API
  version: v3
  description: Brickwork (now part of DevHub) omnichannel retail platform API v3. Powers store pages, store locators, appointments, events, RSVPs, in-store services, customers, and local store content for physical retail. Admin endpoints are authenticated with an api_key; front-end store endpoints surface public store, service, and event data. Derived from the provider-published apiDoc reference at production.brickworksoftware.com/api_docs.
  contact:
    name: Brickwork / DevHub
    url: https://www.devhub.com/
  x-apievangelist:
    generated: '2026-07-18'
    method: searched
    source: https://production.brickworksoftware.com/api_docs/ (apiDoc api_data.json)
servers:
- url: https://production.brickworksoftware.com
  description: Production
tags:
- name: Admin Transactions
paths:
  /{locale}/api/v3/admin/customers/{customer_id_or_code}/transactions:
    get:
      summary: Customer Transactions
      operationId: GetLocaleApiV3AdminCustomersCustomer_id_or_codeTransactions
      tags:
      - Admin Transactions
      parameters:
      - name: customer_id_or_code
        in: path
        required: true
        schema:
          type: string
      - name: locale
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  transactions:
                    type: array
                    description: ''
      security:
      - apiKeyAuth: []
  /{locale}/api/v3/admin/transactions:
    get:
      summary: Index Transactions
      operationId: GetLocaleApiV3AdminTransactions
      tags:
      - Admin Transactions
      description: 'Example: `http://company.com/api/v3/admin/transactions?query[start_date]=2016-05-28`'
      parameters:
      - name: locale
        in: path
        required: true
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: integer
        description: Page number of your query
      - name: query
        in: query
        required: false
        schema:
          type: object
        description: Query parameters for all company transactions
      - name: query[start_date]
        in: query
        required: false
        schema:
          type: string
        description: Company transactions select start date "YYYY-MM-DD", defaults to 30 days back
      - name: query[end_date]
        in: query
        required: false
        schema:
          type: string
        description: Company transactions select end date "YYYY-MM-DD", defaults to today
      - name: query[code]
        in: query
        required: false
        schema:
          type: array
        description: Filter transactions by codes [1,2,3]
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  transactions:
                    type: array
                    description: ''
      security:
      - apiKeyAuth: []
    post:
      summary: Create Transaction
      operationId: PostLocaleApiV3AdminTransactions
      tags:
      - Admin Transactions
      parameters:
      - name: locale
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                transaction:
                  type: object
                  description: ''
              required:
              - transaction
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  transaction:
                    type: object
                    description: ''
      security:
      - apiKeyAuth: []
  /{locale}/api/v3/admin/transactions/{id_or_code}:
    get:
      summary: Show Transaction
      operationId: GetLocaleApiV3AdminTransactionsId_or_code
      tags:
      - Admin Transactions
      parameters:
      - name: id_or_code
        in: path
        required: true
        schema:
          type: string
      - name: locale
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  transaction:
                    type: object
                    description: ''
      security:
      - apiKeyAuth: []
    put:
      summary: Update Transaction
      operationId: PutLocaleApiV3AdminTransactionsId_or_code
      tags:
      - Admin Transactions
      parameters:
      - name: id_or_code
        in: path
        required: true
        schema:
          type: string
      - name: locale
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                transaction:
                  type: object
                  description: ''
              required:
              - transaction
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  transaction:
                    type: object
                    description: ''
      security:
      - apiKeyAuth: []
  /{locale}/api/v3/admin/appointments/{appointment_id_or_code}/transactions/{id_or_code}:
    post:
      summary: Add appointment Transaction
      operationId: PostLocaleApiV3AdminAppointmentsAppointment_id_or_codeTransactionsId_or_code
      tags:
      - Admin Transactions
      parameters:
      - name: id_or_code
        in: path
        required: true
        schema:
          type: string
      - name: appointment_id_or_code
        in: path
        required: true
        schema:
          type: string
      - name: locale
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  transactions:
                    type: array
                    description: ''
      security:
      - apiKeyAuth: []
  /{locale}/api/v3/admin/customers/{customer_id_or_code}/transactions/{id_or_code}:
    post:
      summary: Add Customer Transaction
      operationId: PostLocaleApiV3AdminCustomersCustomer_id_or_codeTransactionsId_or_code
      tags:
      - Admin Transactions
      parameters:
      - name: id_or_code
        in: path
        required: true
        schema:
          type: string
      - name: customer_id_or_code
        in: path
        required: true
        schema:
          type: string
      - name: locale
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  transactions:
                    type: array
                    description: ''
      security:
      - apiKeyAuth: []
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: query
      name: api_key
      description: Company API key passed as the api_key query parameter.
