openapi: 3.0.3
info:
  title: Brickwork Admin Appointments Admin Customer Appointments API
  version: v3
  description: Brickwork (now part of DevHub) omnichannel retail platform API v3. Powers store pages, store locators, appointments, events, RSVPs, in-store services, customers, and local store content for physical retail. Admin endpoints are authenticated with an api_key; front-end store endpoints surface public store, service, and event data. Derived from the provider-published apiDoc reference at production.brickworksoftware.com/api_docs.
  contact:
    name: Brickwork / DevHub
    url: https://www.devhub.com/
  x-apievangelist:
    generated: '2026-07-18'
    method: searched
    source: https://production.brickworksoftware.com/api_docs/ (apiDoc api_data.json)
servers:
- url: https://production.brickworksoftware.com
  description: Production
tags:
- name: Admin Customer Appointments
paths:
  /{locale}/api/v3/admin/customers/{customer_id_or_code}/appointments:
    get:
      summary: List all customer appointments
      operationId: GetLocaleApiV3AdminCustomersCustomer_id_or_codeAppointments
      tags:
      - Admin Customer Appointments
      description: 'Example: `http://company.com/api/v3/customers/:customer_id/appointments`


        Example: `http://company.com/api/v3/customers/:customer_code/appointments`'
      parameters:
      - name: customer_id_or_code
        in: path
        required: true
        schema:
          type: string
      - name: locale
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  appointments:
                    type: array
                    items:
                      type: object
                    description: Array of Appointment Objects
      security:
      - apiKeyAuth: []
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: query
      name: api_key
      description: Company API key passed as the api_key query parameter.
