openapi: 3.0.3
info:
  title: Brickwork Admin Appointments Utilities API
  version: v3
  description: Brickwork (now part of DevHub) omnichannel retail platform API v3. Powers store pages, store locators, appointments, events, RSVPs, in-store services, customers, and local store content for physical retail. Admin endpoints are authenticated with an api_key; front-end store endpoints surface public store, service, and event data. Derived from the provider-published apiDoc reference at production.brickworksoftware.com/api_docs.
  contact:
    name: Brickwork / DevHub
    url: https://www.devhub.com/
  x-apievangelist:
    generated: '2026-07-18'
    method: searched
    source: https://production.brickworksoftware.com/api_docs/ (apiDoc api_data.json)
servers:
- url: https://production.brickworksoftware.com
  description: Production
tags:
- name: Utilities
paths:
  /{locale}/locale:
    get:
      summary: Locale
      operationId: GetLocaleLocale
      tags:
      - Utilities
      parameters:
      - name: locale
        in: path
        required: true
        schema:
          type: string
        description: The locale for company translations
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  translations:
                    type: object
                    description: Root object with nested translations for the selected locale with no namespace or header.
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: query
      name: api_key
      description: Company API key passed as the api_key query parameter.
