openapi: 3.0.3
info:
  title: Brickwork Admin Appointments Services API
  version: v3
  description: Brickwork (now part of DevHub) omnichannel retail platform API v3. Powers store pages, store locators, appointments, events, RSVPs, in-store services, customers, and local store content for physical retail. Admin endpoints are authenticated with an api_key; front-end store endpoints surface public store, service, and event data. Derived from the provider-published apiDoc reference at production.brickworksoftware.com/api_docs.
  contact:
    name: Brickwork / DevHub
    url: https://www.devhub.com/
  x-apievangelist:
    generated: '2026-07-18'
    method: searched
    source: https://production.brickworksoftware.com/api_docs/ (apiDoc api_data.json)
servers:
- url: https://production.brickworksoftware.com
  description: Production
tags:
- name: Services
paths:
  /{locale}/api/v3/services:
    get:
      summary: List Company Services
      operationId: GetLocaleApiV3Services
      tags:
      - Services
      description: 'Example: `http://company.com/api/v3/services/`


        Example: `http://company.com/api/v3/services?appointment_only=true`'
      parameters:
      - name: locale
        in: path
        required: true
        schema:
          type: string
      - name: appointment_only
        in: query
        required: false
        schema:
          type: boolean
        description: Only return list of services that can have an appointment scheduled for this service
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  services:
                    type: array
                    description: A list of service objects
  /{locale}/api/v3/services/{id}/:
    get:
      summary: Show Company Service
      operationId: GetLocaleApiV3ServicesId
      tags:
      - Services
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: locale
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  service:
                    type: object
                    description: ''
  /{locale}/api/v3/services/{id}/stores:
    get:
      summary: Show Company Service Stores
      operationId: GetLocaleApiV3ServicesIdStores
      tags:
      - Services
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: locale
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  stores:
                    type: object
                    description: ''
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: query
      name: api_key
      description: Company API key passed as the api_key query parameter.
