openapi: 3.0.3
info:
  title: Brickwork Admin Appointments Admin Store Images API
  version: v3
  description: Brickwork (now part of DevHub) omnichannel retail platform API v3. Powers store pages, store locators, appointments, events, RSVPs, in-store services, customers, and local store content for physical retail. Admin endpoints are authenticated with an api_key; front-end store endpoints surface public store, service, and event data. Derived from the provider-published apiDoc reference at production.brickworksoftware.com/api_docs.
  contact:
    name: Brickwork / DevHub
    url: https://www.devhub.com/
  x-apievangelist:
    generated: '2026-07-18'
    method: searched
    source: https://production.brickworksoftware.com/api_docs/ (apiDoc api_data.json)
servers:
- url: https://production.brickworksoftware.com
  description: Production
tags:
- name: Admin Store Images
paths:
  /api/v3/admin/stores/{store_id_or_number}/store_hero_images:
    get:
      summary: List Store Images
      operationId: GetApiV3AdminStoresStore_id_or_numberStore_hero_images
      tags:
      - Admin Store Images
      description: 'Example: `http://company.com/api/v3/admin/stores/:store_id/store_hero_images`


        Example: `http://company.com/api/v3/admin/stores/:store_number/store_hero_images?store_number=true`'
      parameters:
      - name: store_id_or_number
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  store_hero_images:
                    type: array
                    description: A list of the stores images
      security:
      - apiKeyAuth: []
    post:
      summary: Create Store Image
      operationId: PostApiV3AdminStoresStore_id_or_numberStore_hero_images
      tags:
      - Admin Store Images
      description: 'Example: `http://company.com/api/v3/admin/stores/:store_id/store_hero_images`


        Example: `http://company.com/api/v3/admin/stores/:store_number/store_hero_images?store_number=true`'
      parameters:
      - name: store_id_or_number
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  store_hero_image:
                    type: array
                    description: An New Store Image
      security:
      - apiKeyAuth: []
  /api/v3/admin/stores/{store_id_or_number}/store_hero_images/{id}:
    get:
      summary: Show Store Image
      operationId: GetApiV3AdminStoresStore_id_or_numberStore_hero_imagesId
      tags:
      - Admin Store Images
      description: 'Example: `http://company.com/api/v3/admin/stores/:store_id/store_hero_images/:id`


        Example: `http://company.com/api/v3/admin/stores/:store_number/store_hero_images/:id?store_number=true`'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: store_id_or_number
        in: path
        required: true
        schema:
          type: string
      - name: store_hero_image[id]
        in: query
        required: true
        schema:
          type: integer
        description: The ID of the Store Image
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  store_hero_image:
                    type: array
                    description: An New Store Image
      security:
      - apiKeyAuth: []
    put:
      summary: Update Store Image Properties
      operationId: PutApiV3AdminStoresStore_id_or_numberStore_hero_imagesId
      tags:
      - Admin Store Images
      description: 'Example: `http://company.com/api/v3/admin/stores/:store_id/store_hero_images/:id`


        Example: `http://company.com/api/v3/admin/stores/:store_number/store_hero_images/:id?store_number=true`'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: store_id_or_number
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  store_hero_image:
                    type: array
                    description: An New Store Image
      security:
      - apiKeyAuth: []
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: query
      name: api_key
      description: Company API key passed as the api_key query parameter.
