openapi: 3.0.3
info:
  title: Brickwork API
  version: v3
  description: Brickwork (now part of DevHub) omnichannel retail platform API v3. Powers store pages, store locators, appointments,
    events, RSVPs, in-store services, customers, and local store content for physical retail. Admin endpoints are authenticated
    with an api_key; front-end store endpoints surface public store, service, and event data. Derived from the provider-published
    apiDoc reference at production.brickworksoftware.com/api_docs.
  contact:
    name: Brickwork / DevHub
    url: https://www.devhub.com/
  x-apievangelist:
    generated: '2026-07-18'
    method: searched
    source: https://production.brickworksoftware.com/api_docs/ (apiDoc api_data.json)
servers:
- url: https://production.brickworksoftware.com
  description: Production
tags:
- name: Admin Appointments
- name: Admin Company Users
- name: Admin Customer Appointments
- name: Admin Customer Rsvps
- name: Admin Customers
- name: Admin Event Rsvps
- name: Admin Events
- name: Admin Features
- name: Admin Groups
- name: Admin Languages
- name: Admin Question Answers
- name: Admin Questions
- name: Admin Rsvps
- name: Admin Services
- name: Admin Store Alerts
- name: Admin Store Event Rsvps
- name: Admin Store Events
- name: Admin Store Images
- name: Admin Store Regular Hours
- name: Admin Store Services
- name: Admin Store Special Hours
- name: Admin Store Types
- name: Admin Stores
- name: Admin Transactions
- name: Admin User Hours
- name: Events
- name: Front End Stores
- name: Questions
- name: Service Appointments
- name: Services
- name: Store Events
- name: Store Services
- name: Utilities
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: query
      name: api_key
      description: Company API key passed as the api_key query parameter.
paths:
  /{locale}/api/v3/admin/appointments:
    get:
      summary: List all Appointments
      operationId: GetLocaleApiV3AdminAppointments
      tags:
      - Admin Appointments
      description: 'Example: `http://company.com/api/v3/admin/appointments?query[start_date]=2016-05-28&query[filter_start_time]=true`'
      parameters:
      - name: locale
        in: path
        required: true
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: integer
        description: Page number of your query
      - name: query
        in: query
        required: false
        schema:
          type: object
        description: Query parameters for all company appointments
      - name: query[filter_start_time]
        in: query
        required: false
        schema:
          type: boolean
        description: When true, it will filter and order all appointments by their start time, by default it will filter by
          created date
      - name: query[start_date]
        in: query
        required: false
        schema:
          type: string
        description: Store appointments select start date "YYYY-MM-DD", defaults to 30 days back, if query[filter_start_time]=true
          it is set to today's date
      - name: query[end_date]
        in: query
        required: false
        schema:
          type: string
        description: Store appointments select end date "YYYY-MM-DD", defaults to today, if query[filter_start_time]=true
          it is set to 30 days ahead
      - name: query[utc_offset]
        in: query
        required: false
        schema:
          type: string
        description: Store appointments select date timezone, defaults to +0000 "-1", "-0100", "-01:00". Be sure to encode
          positive utc_offsets - Encoding for a "+" is "%2B"
      - name: query[store_ids]
        in: query
        required: false
        schema:
          type: array
        description: Filter appointments by store ids [1,2,3]
      - name: query[service_ids]
        in: query
        required: false
        schema:
          type: array
        description: Filter appointments by service ids [1,2,3]
      - name: query[associate_ids]
        in: query
        required: false
        schema:
          type: array
        description: Filter appointments by associates [1,2,3]
      - name: query[state]
        in: query
        required: false
        schema:
          type: string
        description: Filter appointments by state new, customer_requested, confirmed, reassigned, canceled, checked_in, no_show,
          occured
      - name: query[code]
        in: query
        required: false
        schema:
          type: array
        description: Filter appointments by code ['code1','code2','code3']
      - name: query[associate_codes]
        in: query
        required: false
        schema:
          type: array
        description: Filter appointments by associate codes ['code1','code2','code3']
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  appointments:
                    type: array
                    items:
                      type: object
                    description: Array of Appointment Objects
      security:
      - apiKeyAuth: []
  /{locale}/api/v3/admin/stores/{store_id_or_number}/appointments:
    get:
      summary: List Store Appointments
      operationId: GetLocaleApiV3AdminStoresStore_id_or_numberAppointments
      tags:
      - Admin Appointments
      description: 'Example: `http://company.com/api/v3/admin/stores/:store_id/appointments?query[state]=confirmed`


        Example: `http://company.com/api/v3/stores/:store_id/appointments`


        Example: `http://company.com/api/v3/stores/:store_number/appointments?store_number=true`'
      parameters:
      - name: store_id_or_number
        in: path
        required: true
        schema:
          type: string
      - name: locale
        in: path
        required: true
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: integer
        description: Page number of your query
      - name: query
        in: query
        required: false
        schema:
          type: object
        description: Query parameters for all stores appointments
      - name: query[service_ids]
        in: query
        required: false
        schema:
          type: array
        description: Filter store appointments by store service ids [1,2,3]
      - name: query[associate_ids]
        in: query
        required: false
        schema:
          type: array
        description: Filter store appointments by associates [1,2,3]
      - name: query[state]
        in: query
        required: false
        schema:
          type: string
        description: Filter store appointments by state new, customer_requested, confirmed, reassigned, canceled, checked_in,
          no_show, occured
      - name: query[code]
        in: query
        required: false
        schema:
          type: array
        description: Filter store appointments by code ['code1','code2','code3']
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  appointments:
                    type: array
                    items:
                      type: object
                    description: Array of Appointment Objects
      security:
      - apiKeyAuth: []
  /{locale}/api/v3/admin/stores/{store_id_or_number}/appointments/{id_or_code}:
    get:
      summary: Show Appointment
      operationId: GetLocaleApiV3AdminStoresStore_id_or_numberAppointmentsId_or_code
      tags:
      - Admin Appointments
      description: 'Example: `http://company.com/api/v3/stores/:store_id/appointments/:id_or_code`


        Example: `http://company.com/api/v3/stores/:store_number/appointments/:id_or_code?store_number=true`


        Example: `http://company.com/api/v3/stores/:store_id_or_number/appointments/:id`


        Example: `http://company.com/api/v3/stores/:store_id_or_number/appointments/:code`'
      parameters:
      - name: id_or_code
        in: path
        required: true
        schema:
          type: string
      - name: store_id_or_number
        in: path
        required: true
        schema:
          type: string
      - name: locale
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  appointment:
                    type: object
                    description: Appointment Object
      security:
      - apiKeyAuth: []
    put:
      summary: Update Appointment
      operationId: PutLocaleApiV3AdminStoresStore_id_or_numberAppointmentsId_or_code
      tags:
      - Admin Appointments
      description: 'Example: `http://company.com/api/v3/stores/:store_id/appointments/:id_or_code`


        Example: `http://company.com/api/v3/stores/:store_number/appointments/:id_or_code?store_number=true`


        Example: `http://company.com/api/v3/stores/:store_id_or_number/appointments/:id`


        Example: `http://company.com/api/v3/stores/:store_id_or_number/appointments/:code`'
      parameters:
      - name: id_or_code
        in: path
        required: true
        schema:
          type: string
      - name: store_id_or_number
        in: path
        required: true
        schema:
          type: string
      - name: locale
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                appointment:
                  type: object
                  description: Appointment Object (Needs at least one of the parameters below)
              required:
              - appointment
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  appointment:
                    type: object
                    description: Appointment Object
      security:
      - apiKeyAuth: []
  /api/v3/admin/stores/{store_id_or_number}/appointments:
    post:
      summary: Create an Appointment
      operationId: PostApiV3AdminStoresStore_id_or_numberAppointments
      tags:
      - Admin Appointments
      description: 'Example: `http://company.com/api/v3/stores/:store_id/appointments/`


        Example: `http://company.com/api/v3/stores/:store_number/appointments/?store_number=true`'
      parameters:
      - name: store_id_or_number
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                appointment:
                  type: object
                  description: Appointment Object
              required:
              - appointment
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  appointment:
                    type: object
                    description: Appointment Object
      security:
      - apiKeyAuth: []
  /api/v3/admin/users:
    get:
      summary: Show all Users
      operationId: GetApiV3AdminUsers
      tags:
      - Admin Company Users
      description: 'Example: `http://company.com/api/v3/admin/users?query[code]=123abc`'
      parameters:
      - name: query
        in: query
        required: false
        schema:
          type: object
        description: Query parameters for all company users
      - name: query[start_date]
        in: query
        required: false
        schema:
          type: string
        description: Filter Company users by created at start date "YYYY-MM-DD", defaults to 30 days back
      - name: query[end_date]
        in: query
        required: false
        schema:
          type: string
        description: Filter Company users by created at end date "YYYY-MM-DD", defaults to today
      - name: query[code]
        in: query
        required: false
        schema:
          type: array
        description: Filter users by user code [CODE1,CODE2,CODE3]
      - name: query[store_id]
        in: query
        required: false
        schema:
          type: integer
        description: Filter users by store_id
      - name: query[store_nextgen_id]
        in: query
        required: false
        schema:
          type: string
        description: Filter users by store_nextgen_id
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  users:
                    type: array
                    description: Users
      security:
      - apiKeyAuth: []
    post:
      summary: Create User
      operationId: PostApiV3AdminUsers
      tags:
      - Admin Company Users
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                code:
                  type: string
                  description: Code unique to company
                role:
                  type: string
                  description: '"corporate_admin", "store_owner" or "associate"'
                first_name:
                  type: string
                  description: ''
                last_name:
                  type: string
                  description: ''
                email:
                  type: string
                  description: User's Email
                store_id:
                  type: integer
                  description: Only needed if role is "store_owner" or "associate"
              required:
              - code
              - role
              - first_name
              - last_name
              - email
              - store_id
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    description: User Id
                  code:
                    type: string
                    description: User Code
                  store_id:
                    type: integer
                    description: The store id that user is apart of
                  first_name:
                    type: string
                    description: ''
                  last_name:
                    type: string
                    description: ''
                  role:
                    type: string
                    description: '"corporate_admin", "store_owner" or "associate"'
                  api_key:
                    type: string
                    description: User's assigned api_key
                  email:
                    type: string
                    description: User's Email
                  phone:
                    type: string
                    description: User's phone number
                  avatar:
                    type: string
                    description: User's avatar (deprecated)
                  profile_image_url:
                    type: string
                    description: User's profile image url
                  position:
                    type: string
                    description: Quick description of user's job
                  encrypted_password:
                    type: string
                    description: ''
                  reset_password_token:
                    type: string
                    description: ''
                  reset_password_sent_at:
                    type: string
                    description: ''
                  remember_created_at:
                    type: string
                    description: ''
                  sign_in_count:
                    type: integer
                    description: ''
                  current_sign_in_at:
                    type: string
                    description: ''
                  current_sign_in_ip:
                    type: string
                    description: ''
                  setup_completed_at:
                    type: string
                    description: ''
                  last_schedule_reminder_sent_at:
                    type: string
                    description: Weekly associate or store manager schedule
                  archived_number:
                    type: string
                    description: ''
                  archived_at:
                    type: string
                    description: ''
                  created_at:
                    type: string
                    description: ''
                  updated_at:
                    type: string
                    description: ''
                  company_id:
                    type: integer
                    description: ''
                  nextgen_id:
                    type: string
                    description: Nextgen User ID
      security:
      - apiKeyAuth: []
  /api/v3/admin/users/{id_or_code}:
    get:
      summary: Show User by ID or Code
      operationId: GetApiV3AdminUsersId_or_code
      tags:
      - Admin Company Users
      description: 'Example: `http://company.com/api/v3/admin/users/:user_id`


        Example: `http://company.com/api/v3/admin/users/:code?user_code=true`'
      parameters:
      - name: id_or_code
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    description: User Id
                  code:
                    type: string
                    description: User Code
                  store_id:
                    type: integer
                    description: The store id that user is apart of
                  first_name:
                    type: string
                    description: ''
                  last_name:
                    type: string
                    description: ''
                  role:
                    type: string
                    description: '"corporate_admin", "store_owner" or "associate"'
                  api_key:
                    type: string
                    description: User's assigned api_key
                  email:
                    type: string
                    description: User's Email
                  phone:
                    type: string
                    description: User's phone number
                  avatar:
                    type: string
                    description: User's avatar (deprecated)
                  profile_image_url:
                    type: string
                    description: User's profile image url
                  position:
                    type: string
                    description: Quick description of user's job
                  encrypted_password:
                    type: string
                    description: ''
                  reset_password_token:
                    type: string
                    description: ''
                  reset_password_sent_at:
                    type: string
                    description: ''
                  remember_created_at:
                    type: string
                    description: ''
                  sign_in_count:
                    type: integer
                    description: ''
                  current_sign_in_at:
                    type: string
                    description: ''
                  current_sign_in_ip:
                    type: string
                    description: ''
                  setup_completed_at:
                    type: string
                    description: ''
                  last_schedule_reminder_sent_at:
                    type: string
                    description: Weekly associate or store manager schedule
                  archived_number:
                    type: string
                    description: ''
                  archived_at:
                    type: string
                    description: ''
                  created_at:
                    type: string
                    description: ''
                  updated_at:
                    type: string
                    description: ''
                  company_id:
                    type: integer
                    description: ''
                  nextgen_id:
                    type: string
                    description: Nextgen User ID
      security:
      - apiKeyAuth: []
    put:
      summary: Update User by ID or Code
      operationId: PutApiV3AdminUsersId_or_code
      tags:
      - Admin Company Users
      description: 'Example: `http://company.com/api/v3/admin/users/:user_id`


        Example: `http://company.com/api/v3/admin/users/:code?user_code=true`'
      parameters:
      - name: id_or_code
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                code:
                  type: string
                  description: Code unique to company
                role:
                  type: string
                  description: '"corporate_admin", "store_owner" or "associate"'
                first_name:
                  type: string
                  description: ''
                last_name:
                  type: string
                  description: ''
                email:
                  type: string
                  description: User's Email
                store_id:
                  type: integer
                  description: Only needed if role is "store_owner" or "associate"
              required:
              - code
              - role
              - first_name
              - last_name
              - email
              - store_id
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    description: User Id
                  code:
                    type: string
                    description: User Code
                  store_id:
                    type: integer
                    description: The store id that user is apart of
                  first_name:
                    type: string
                    description: ''
                  last_name:
                    type: string
                    description: ''
                  role:
                    type: string
                    description: '"corporate_admin", "store_owner" or "associate"'
                  api_key:
                    type: string
                    description: User's assigned api_key
                  email:
                    type: string
                    description: User's Email
                  phone:
                    type: string
                    description: User's phone number
                  avatar:
                    type: string
                    description: User's avatar (deprecated)
                  profile_image_url:
                    type: string
                    description: User's profile image url
                  position:
                    type: string
                    description: Quick description of user's job
                  encrypted_password:
                    type: string
                    description: ''
                  reset_password_token:
                    type: string
                    description: ''
                  reset_password_sent_at:
                    type: string
                    description: ''
                  remember_created_at:
                    type: string
                    description: ''
                  sign_in_count:
                    type: integer
                    description: ''
                  current_sign_in_at:
                    type: string
                    description: ''
                  current_sign_in_ip:
                    type: string
                    description: ''
                  setup_completed_at:
                    type: string
                    description: ''
                  last_schedule_reminder_sent_at:
                    type: string
                    description: Weekly associate or store manager schedule
                  archived_number:
                    type: string
                    description: ''
                  archived_at:
                    type: string
                    description: ''
                  created_at:
                    type: string
                    description: ''
                  updated_at:
                    type: string
                    description: ''
                  company_id:
                    type: integer
                    description: ''
                  nextgen_id:
                    type: string
                    description: Nextgen User ID
      security:
      - apiKeyAuth: []
  /{locale}/api/v3/admin/customers/{customer_id_or_code}/appointments:
    get:
      summary: List all customer appointments
      operationId: GetLocaleApiV3AdminCustomersCustomer_id_or_codeAppointments
      tags:
      - Admin Customer Appointments
      description: 'Example: `http://company.com/api/v3/customers/:customer_id/appointments`


        Example: `http://company.com/api/v3/customers/:customer_code/appointments`'
      parameters:
      - name: customer_id_or_code
        in: path
        required: true
        schema:
          type: string
      - name: locale
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  appointments:
                    type: array
                    items:
                      type: object
                    description: Array of Appointment Objects
      security:
      - apiKeyAuth: []
  /{locale}/api/v3/admin/customers/{customer_id}/rsvps:
    get:
      summary: List all Customer Rsvps
      operationId: GetLocaleApiV3AdminCustomersCustomer_idRsvps
      tags:
      - Admin Customer Rsvps
      parameters:
      - name: customer_id
        in: path
        required: true
        schema:
          type: string
      - name: locale
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  customer_rsvps:
                    type: array
                    description: ''
      security:
      - apiKeyAuth: []
  /{locale}/api/v3/admin/customers:
    get:
      summary: List all Company Customers
      operationId: GetLocaleApiV3AdminCustomers
      tags:
      - Admin Customers
      description: 'Example: `http://company.com/api/v3/admin/customers?query[start_date]=2016-05-28`'
      parameters:
      - name: locale
        in: path
        required: true
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: integer
        description: Page number of your query
      - name: query
        in: query
        required: false
        schema:
          type: object
        description: Query parameters for all company customers
      - name: query[start_date]
        in: query
        required: false
        schema:
          type: string
        description: Filter Company Customers by created at start date "YYYY-MM-DD", defaults to 30 days back
      - name: query[end_date]
        in: query
        required: false
        schema:
          type: string
        description: Filter Company Customers by created at end date "YYYY-MM-DD", defaults to today
      - name: query[code]
        in: query
        required: false
        schema:
          type: array
        description: Filter customers by customer code [CODE1,CODE2,CODE3]
      - name: query[id]
        in: query
        required: false
        schema:
          type: array
        description: Filter customers by customer ids [1,2,3]
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  customer:
                    type: array
                    description: ''
      security:
      - apiKeyAuth: []
    post:
      summary: Create Customers
      operationId: PostLocaleApiV3AdminCustomers
      tags:
      - Admin Customers
      parameters:
      - name: locale
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                code:
                  type: string
                  description: Code of Customer
                name:
                  type: string
                  description: Name of Customer
                phone_number:
                  type: string
                  description: Phone Number of Customer
                email:
                  type: string
                  description: Email of Customers
                email_opt_in:
                  type: boolean
                  description: Allow Customer to opt out of email communication
              required:
              - code
              - name
              - phone_number
              - email
              - email_opt_in
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  first_name:
                    type: string
                    description: First Name of the Customer
                  last_name:
                    type: string
                    description: Last Name of the Customer
                  id:
                    type: integer
                    description: ID of the Customer
                  code:
                    type: integer
                    description: Code of the Customer
                  name:
                    type: string
                    description: Name of the Customer
                  phone_number:
                    type: string
                    description: Phone number of the Customer
                  email:
                    type: string
                    description: Email of the Customer
                  email_opt_in:
                    type: boolean
                    description: Has the customer opted out of email communication?
                  extra_data:
                    type: string
                    description: Extra Data Attributes Field
                  confirmed_at:
                    type: string
                    description: When the appointment confirmed
                  created_at:
                    type: string
                    description: Created on Date
                  updated_at:
                    type: string
                    description: Updated on Date
      security:
      - apiKeyAuth: []
  /{locale}/api/v3/admin/customers/{id_or_code}:
    get:
      summary: Show Customer
      operationId: GetLocaleApiV3AdminCustomersId_or_code
      tags:
      - Admin Customers
      parameters:
      - name: id_or_code
        in: path
        required: true
        schema:
          type: string
      - name: locale
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    description: ID of the Customer
                  code:
                    type: integer
                    description: Code of the Customer
                  name:
                    type: string
                    description: Name of the Customer
                  first_name:
                    type: string
                    description: First Name of the Customer
                  last_name:
                    type: string
                    description: Last Name of the Customer
                  phone_number:
                    type: string
                    description: Phone number of the Customer
                  email:
                    type: string
                    description: Email of the Customer
                  email_opt_in:
                    type: boolean
                    description: Has the customer opted out of email communication?
                  extra_data:
                    type: string
                    description: Extra Data Attributes Field
                  confirmed_at:
                    type: string
                    description: When the appointment confirmed
                  created_at:
                    type: string
                    description: Created on Date
                  updated_at:
                    type: string
                    description: Updated on Date
      security:
      - apiKeyAuth: []
  /{locale}/api/v3/admin/customers/{customer_id_or_code}:
    put:
      summary: Update Customers
      operationId: PutLocaleApiV3AdminCustomersCustomer_id_or_code
      tags:
      - Admin Customers
      parameters:
      - name: customer_id_or_code
        in: path
        required: true
        schema:
          type: string
      - name: locale
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                code:
                  type: string
                  description: Code of Customer
                name:
                  type: string
                  description: Name of Customer
                phone_number:
                  type: string
                  description: Phone Number of Customer
                email:
                  type: string
                  description: Email of Customers
                email_opt_in:
                  type: boolean
                  description: Allow Customer to opt out of email communication
              required:
              - code
              - name
              - phone_number
              - email
              - email_opt_in
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  first_name:
                    type: string
                    description: First Name of the Customer
                  last_name:
                    type: string
                    description: Last Name of the Customer
                  id:
                    type: integer
                    description: ID of the Customer
                  code:
                    type: integer
                    description: Code of the Customer
                  name:
                    type: string
                    description: Name of the Customer
                  phone_number:
                    type: string
                    description: Phone number of the Customer
                  email:
                    type: string
                    description: Email of the Customer
                  email_opt_in:
                    type: boolean
                    description: Has the customer opted out of email communication?
                  extra_data:
                    type: string
                    description: Extra Data Attributes Field
                  confirmed_at:
                    type: string
                    description: When the appointment confirmed
                  created_at:
                    type: string
                    description: Created on Date
                  updated_at:
                    type: string
                    description: Updated on Date
      security:
      - apiKeyAuth: []
  /{locale}/api/v3/admin/events/{event_id}/rsvps:
    get:
      summary: List all Event Rsvps
      operationId: GetLocaleApiV3AdminEventsEvent_idRsvps
      tags:
      - Admin Event Rsvps
      parameters:
      - name: event_id
        in: path
        required: true
        schema:
          type: string
      - name: locale
        in: path
        required: true
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: integer
        description: Page number of your query
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  rsvps:
                    type: array
                    description: ''
      security:
      - apiKeyAuth: []
  /{locale}/api/v3/admin/events:
    get:
      summary: List company events
      operationId: GetLocaleApiV3AdminEvents
      tags:
      - Admin Events
      description: 'Example: `http://company.com/api/v3/admin/events?query[published]=true`'
      parameters:
      - name: locale
        in: path
        required: true
        schema:
          type: string
      - name: query
        in: query
        required: false
        schema:
          type: object
        description: Query parameters for all company events
      - name: query[start_date]
        in: query
        required: false
        schema:
          type: string
        description: Store events select start date "YYYY-MM-DD", defaults to 30 days back
      - name: query[end_date]
        in: query
        required: false
        schema:
          type: string
        description: Store events select end date "YYYY-MM-DD", defaults to today
      - name: query[published]
        in: query
        required: false
        schema:
          type: string
        description: Filter store events that are published
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  events:
                    type: array
                    description: ''
      security:
      - apiKeyAuth: []
    post:
      summary: Create Company Event
      operationId: PostLocaleApiV3AdminEvents
      tags:
      - Admin Events
      parameters:
      - name: locale
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: Event Title
                start_time:
                  type: string
                  description: '"yyyy-mm-ddT00:00"'
                end_time:
                  type: string
                  description: '"yyyy-mm-ddT00:00"'
                published_at:
                  type: string
                  description: ''
                store_ids:
                  type: array
                  description: ''
                store_department_ids:
                  type: array
                  description: ''
              required:
              - title
              - start_time
              - end_time
              - published_at
              - store_ids
              - store_department_ids
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Event ID
                  store_ids:
                    type: array
                    description: ID of stores hosting this event
                  store_department_ids:
                    type: array
                    description: ID of store_departments hosting this event
                  in_store_through_departments:
                    type: array
                    description: ID of stores implicitly hosting this event through a store_department
                  managing_entity_id:
                    type: integer
                    description: ''
                  managing_entity_type:
                    type: string
                    description: ''
                  title:
                    type: string
                    description: Title
                  subtitle:
                    type: string
                    description: Subtitle
                  description:
                    type: string
                    description: Description
                  legal:
                    type: string
                    description: Legal
                  promo_code:
                    type: string
                    description: Promo Code
                  total_attendees:
                    type: integer
                    description: RSVP Count
                  max_attendees:
                    type: integer
                    description: Max RSVP Count
                  start_time:
                    type: string
                    description: ''
                  end_time:
                    type: string
                    description: ''
                  published_at:
                    type: string
                    description: ''
                  location:
                    type: string
                    description: Location
                  type:
                    type: string
                    description: Type
                  event_image:
                    type: string
                    description: Event Image Url
                  allow_rsvp:
                    type: boolean
                    description: Should the event have an rsvp count
                  address_1:
                    type: string
                    description: ''
                  address_2:
                    type: string
                    description: ''
                  address_3:
                    type: string
                    description: ''
                  city:
                    type: string
                    description: ''
                  state:
                    type: string
                    description: ''
                  postal_code:
                    type: string
                    description: ''
                  country_code:
                    type: string
                    description: ''
                  canceled_at:
                    type: string
                    description: ''
                  title_locked:
                    type: boolean
                    description: ''
                  start_time_locked:
                    type: boolean
                    description: ''
                  end_time_locked:
                    type: boolean
                    description: ''
                  subtitle_locked:
                    type: boolean
                    description: ''
                  description_locked:
                    type: boolean
                    description: ''
                  promo_code_locked:
                    type: boolean
                    description: ''
                  collect_rsvp_locked:
                    type: boolean
                    description: ''
                  event_max_attendees_locked:
                    type: boolean
                    description: ''
                  legal_locked:
                    type: boolean
                    description: ''
                  event_image_locked:
                    type: boolean
                    description: ''
                  created_at:
                    type: string
                    description: ''
                  updated_at:
                    type: string
                    description: ''
                  meta:
                    type: string
                    description: Link to event
      security:
      - apiKeyAuth: []
  /{locale}/api/v3/admin/events/{id}:
    get:
      summary: Show Company Event
      operationId: GetLocaleApiV3AdminEventsId
      tags:
      - Admin Events
      parameters:
      - name: locale
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Event ID
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Event ID
                  store_ids:
                    type: array
                    description: ID of stores hosting this event
                  store_department_ids:
                    type: array
                    description: ID of store_departments hosting this event
                  in_store_through_departments:
                    type: array
                    description: ID of stores implicitly hosting this event through a store_department
                  managing_entity_id:
                    type: integer
                    description: ''
                  managing_entity_type:
                    type: string
                    description: ''
                  title:
                    type: string
                    description: Title
                  subtitle:
                    type: string
                    description: Subtitle
                  description:
                    type: string
                    description: Description
                  legal:
                    type: string
                    description: Legal
                  promo_code:
                    type: string
                    description: Promo Code
                  total_attendees:
                    type: integer
                    description: RSVP Count
                  max_attendees:
                    type: integer
                    description: Max RSVP Count
                  start_time:
                    type: string
                    description: ''
                  end_time:
                    type: string
                    description: ''
                  published_at:
                    type: string
                    description: ''
                  location:
                    type: string
                    description: Location
                  type:
                    type: string
                    description: Type
                  event_image:
                    type: string
                    description: Event Image Url
                  allow_rsvp:
                    type: boolean
                    description: Should the event have an rsvp count
                  address_1:
                    type: string
                    description: ''
                  address_2:
                    type: string
                    description: ''
                  address_3:
                    type: string
                    description: ''
                  city:
                    type: string
                    description: ''
                  state:
                    type: string
                    description: ''
                  postal_code:
                    type: string
                    description: ''
                  country_code:
                    type: string
                    description: ''
                  canceled_at:
                    type: string
                    description: ''
                  title_locked:
                    type: boolean
                    description: ''
                  start_time_locked:
                    type: boolean
                    description: ''
                  end_time_locked:
                    type: boolean
                    description: ''
                  subtitle_locked:
                    type: boolean
                    description: ''
                  description_locked:
                    type: boolean
                    description: ''
                  promo_code_locked:
                    type: boolean
                    description: ''
                  collect_rsvp_locked:
                    type: boolean
                    description: ''
                  event_max_attendees_locked:
                    type: boolean
                    description: ''
                  legal_locked:
                    type: boolean
                    description: ''
                  event_image_locked:
                    type: boolean
                    description: ''
                  created_at:
                    type: string
                    description: ''
                  updated_at:
                    type: string
                    description: ''
                  meta:
                    type: string
                    description: Link to event
      security:
      - apiKeyAuth: []
    put:
      summary: Update a Company Event
      operationId: PutLocaleApiV3AdminEventsId
      tags:
      - Admin Events
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: locale
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: Event Title
                start_time:
                  type: string
                  description: '"yyyy-mm-ddT00:00"'
                end_time:
                  type: string
                  description: '"yyyy-mm-ddT00:00"'
                published_at:
                  type: string
                  description: ''
                store_ids:
                  type: array
                  description: ''
                store_department_ids:
                  type: array
                  description: ''
              required:
              - title
              - start_time
              - end_time
              - published_at
              - store_ids
              - store_department_ids
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Event ID
                  store_ids:
                    type: array
                    description: ID of stores hosting this event
                  store_department_ids:
                    type: array
                    description: ID of store_departments hosting this event
                  in_store_through_departments:
                    type: array
                    description: ID of stores implicitly hosting this event through a store_department
                  managing_entity_id:
                    type: integer
                    description: ''
                  managing_entity_type:
                    type: string
                    description: ''
                  title:
                    type: string
                    description: Title
                  subtitle:
                    type: string
                    description: Subtitle
                  description:
                    type: string
                    description: Description
                  legal:
                    type: string
                    description: Legal
                  promo_code:
                    type: string
                    description: Promo Code
                  total_attendees:
                    type: integer
                    description: RSVP Count
                  max_attendees:
                    type: integer
                    description: Max RSVP Count
                  start_time:
                    type: string
                    description: ''
                  end_time:
                    type: string
                    description: ''
                  published_at:
                    type: string
                    description: ''
                  location:
                    type: string
                    description: Location
                  type:
                    type: string
                    description: Type
                  event_image:
                    type: string
                    description: Event Image Url
                  allow_rsvp:
                    type: boolean
                    description: Should the event have an rsvp count
                  address_1:
                    type: string
                    description: ''
                  address_2:
                    type: string
                    description: ''
                  address_3:
                    type: string
                    description: ''
                  city:
                    type: string
                    description: ''
                  state:
                    type: string
                    description: ''
                  postal_code:
                    type: string
                    description: ''
                  country_code:
                    type: string
                    description: ''
                  canceled_at:
                    type: string
                    description: ''
                  title_locked:
                    type: boolean
                    description: ''
                  start_time_locked:
                    type: boolean
                    description: ''
                  end_time_locked:
                    type: boolean
                    description: ''
                  subtitle_locked:
                    type: boolean
                    description: ''
                  description_locked:
                    type: boolean
                    description: ''
                  promo_code_locked:
                    type: boolean
                    description: ''
                  collect_rsvp_locked:
                    type: boolean
                    description: ''
                  event_max_attendees_locked:
                    type: boolean
                    description: ''
                  legal_locked:
                    type: boolean
                    description: ''
                  event_image_locked:
                    type: boolean
                    description: ''
                  created_at:
                    type: string
                    description: ''
                  updated_at:
                    type: string
                    description: ''
                  meta:
                    type: string
                    description: Link to event
      security:
      - apiKeyAuth: []
  /api/v3/admin/features:
    get:
      summary: Feature List
      operationId: GetApiV3AdminFeatures
      tags:
      - Admin Features
      parameters:
      - name: locale
        in: query
        required: false
        schema:
          type: string
        description: The locale for store data display
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  features:
                    type: array
                    description: A list of feature objects
      security:
      - apiKeyAuth: []
    post:
      summary: Create Feature
      operationId: PostApiV3AdminFeatures
      tags:
      - Admin Features
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Feature name
                priority:
                  type: integer
                  description: Display order priority of feature on store page if set
                highlight:
                  type: boolean
                  description: Should this feature be highlighted? defaults to true
              required:
              - name
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    description: Feature id
                  name:
                    type: string
                    description: Feature name
                  priority:
                    type: integer
                    description: Display order priority of feature on store page if set
                  created_at:
                    type: string
                    description: Feature creation Datetime
                  updated_at:
                    type: string
                    description: Feature last updated Datetime
      security:
      - apiKeyAuth: []
  /api/v3/admin/features/{id}:
    get:
      summary: Show Feature
      operationId: GetApiV3AdminFeaturesId
      tags:
      - Admin Features
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: locale
        in: query
        required: false
        schema:
          type: string
        description: The locale for store data display
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    description: Feature id
                  name:
                    type: string
                    description: Feature name
                  priority:
                    type: integer
                    description: Display order priority of feature on store page if set
                  created_at:
                    type: string
                    description: Feature creation Datetime
                  updated_at:
                    type: string
                    description: Feature last updated Datetime
      security:
      - apiKeyAuth: []
    put:
      summary: Update Feature
      operationId: PutApiV3AdminFeaturesId
      tags:
      - Admin Features
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Feature name
                priority:
                  type: integer
                  description: Display order priority of feature on store page if set
                highlight:
                  type: boolean
                  description: Should this feature be highlighted? defaults to true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    description: Feature id
                  name:
                    type: string
                    description: Feature name
                  priority:
                    type: integer
                    description: Display order priority of feature on store page if set
                  created_at:
                    type: string
                    description: Feature creation Datetime
                  updated_at:
                    type: string
                    description: Feature last updated Datetime
      security:
      - apiKeyAuth: []
  /api/v3/admin/groups:
    get:
      summary: Groups List
      operationId: GetApiV3AdminGroups
      tags:
      - Admin Groups
      parameters:
      - name: locale
        in: query
        required: false
        schema:
          type: string
        description: The locale for group data display
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  groups:
                    type: array
                    description: A list of the company store groups
      security:
      - apiKeyAuth: []
    post:
      summary: Create Group
      operationId: PostApiV3AdminGroups
      tags:
      - Admin Groups
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Group name
                store_ids:
                  type: array
                  description: A list of the store ids
              required:
              - name
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    description: Group id
                  name:
                    type: string
                    description: Group name
                  store_ids:
                    type: array
                    description: A list of the store ids
                  created_at:
                    type: string
                    description: Group creation Datetime
                  updated_at:
                    type: string
                    description: Group last updated Datetime
      security:
      - apiKeyAuth: []
  /api/v3/admin/groups/{id}:
    get:
      summary: Show Group
      operationId: GetApiV3AdminGroupsId
      tags:
      - Admin Groups
      parameters:
      - name: locale
        in: query
        required: false
        schema:
          type: string
        description: The locale for group data display
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: ''
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    description: Group id
                  name:
                    type: string
                    description: Group name
                  store_ids:
                    type: array
                    description: A list of the store ids
                  created_at:
                    type: string
                    description: Group creation Datetime
                  updated_at:
                    type: string
                    description: Group last updated Datetime
      security:
      - apiKeyAuth: []
    put:
      summary: Update Group
      operationId: PutApiV3AdminGroupsId
      tags:
      - Admin Groups
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Group name
                store_ids:
                  type: array
                  description: A list of the store ids
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    description: Group id
                  name:
                    type: string
                    description: Group name
                  store_ids:
                    type: array
                    description: A list of the store ids
                  created_at:
                    type: string
                    description: Group creation Datetime
                  updated_at:
                    type: string
                    description: Group last updated Datetime
      security:
      - apiKeyAuth: []
  /api/v3/admin/languages:
    get:
      summary: List all languages
      operationId: GetApiV3AdminLanguages
      tags:
      - Admin Languages
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  languages:
                    type: array
                    description: A list of available languages
      security:
      - apiKeyAuth: []
  /{locale}/api/v3/admin/question_answers:
    get:
      summary: List all question answers
      operationId: GetLocaleApiV3AdminQuestion_answers
      tags:
      - Admin Question Answers
      description: 'Example: `http://company.com/api/v3/admin/question_answers?query[question_id]=123`'
      parameters:
      - name: locale
        in: path
        required: true
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: integer
        description: Page number of your query
      - name: query
        in: query
        required: false
        schema:
          type: object
        description: Query parameters for all company question_answers
      - name: query[question_id]
        in: query
        required: false
        schema:
          type: integer
        description: Filter question_answers by question_id ['question_id1', 'question_id2', 'question_id3']
      - name: query[customer_id]
        in: query
        required: false
        schema:
          type: string
        description: Filter question_answers by customer_id ['customer_id1','customer_id2','customer_id3']
      - name: query[appointment_id]
        in: query
        required: false
        schema:
          type: string
        description: Filter question_answers by appointment_id ['appointment_id1','appointment_id2','appointment_id3']
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  question_answers:
                    type: array
                    items:
                      type: object
                    description: Array of Question Answer Objects
      security:
      - apiKeyAuth: []
  /{locale}/api/v3/admin/question_answers/{question_id}:
    get:
      summary: Show question
      operationId: GetLocaleApiV3AdminQuestion_answersQuestion_id
      tags:
      - Admin Question Answers
      description: 'Example: `http://company.com/api/v3/admin/question_answers/:question_answer_id`'
      parameters:
      - name: question_id
        in: path
        required: true
        schema:
          type: string
      - name: locale
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    description: Question Answer ID
                  question_id:
                    type: integer
                    description: Question Answer Question ID
                  question_key:
                    type: string
                    description: Question Answer Question Key
                  customer_id:
                    type: string
                    description: Question Answer Customer ID
                  appointment_id:
                    type: string
                    description: Question Answer Appointment ID
                  data:
                    type: object
                    description: Question Answer Data
                  created_at:
                    type: string
                    description: ''
                  updated_at:
                    type: string
                    description: ''
                  customer:
                    type: object
                    description: Question Answer Customer
                  question:
                    type: object
                    description: Question Answer Question
      security:
      - apiKeyAuth: []
  /{locale}/api/v3/admin/questions:
    get:
      summary: List all questions
      operationId: GetLocaleApiV3AdminQuestions
      tags:
      - Admin Questions
      description: 'Example: `http://company.com/api/v3/admin/questions?query[key]=favorite_color`'
      parameters:
      - name: locale
        in: path
        required: true
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: integer
        description: Page number of your query
      - name: query
        in: query
        required: false
        schema:
          type: object
        description: Query parameters for all company questions
      - name: query[key]
        in: query
        required: false
        schema:
          type: string
        description: Filter questions by key ['key1', key2, key3]
      - name: query[code]
        in: query
        required: false
        schema:
          type: string
        description: Filter questions by question_type ['question_type1','question_type2','question_type3']
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  questions:
                    type: array
                    items:
                      type: object
                    description: Array of Question Objects
      security:
      - apiKeyAuth: []
  /{locale}/api/v3/admin/questions/{question_id}:
    get:
      summary: Show question
      operationId: GetLocaleApiV3AdminQuestionsQuestion_id
      tags:
      - Admin Questions
      description: 'Example: `http://company.com/api/v3/admin/questions/:question_id`'
      parameters:
      - name: question_id
        in: path
        required: true
        schema:
          type: string
      - name: locale
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    description: Question ID
                  key:
                    type: integer
                    description: Question Key
                  display_text:
                    type: string
                    description: Question Display Text
                  question_type:
                    type: string
                    description: Question Question Type
                  position:
                    type: integer
                    description: Question Position
                  status:
                    type: integer
                    description: Question Status
                  props:
                    type: object
                    description: Question Props
                  nextgen_id:
                    type: string
                    description: Nextgen Question ID
                  global_appointment:
                    type: boolean
                    description: Question T/F on whether Question is a Global Appointment
                  assignments:
                    type: object
                    description: Question Assignments
                  options:
                    type: array
                    items:
                      type: object
                    description: Array of Question Options Object. Only returned if question has options
                  created_at:
                    type: string
                    description: ''
                  updated_at:
                    type: string
                    description: ''
      security:
      - apiKeyAuth: []
  /{locale}/api/v3/admin/rsvps:
    get:
      summary: List all Rsvps
      operationId: GetLocaleApiV3AdminRsvps
      tags:
      - Admin Rsvps
      description: 'Example: `http://company.com/api/v3/admin/rsvps?query[start_date]=2016-05-28`'
      parameters:
      - name: locale
        in: path
        required: true
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: integer
        description: Page number of your query
      - name: query
        in: query
        required: false
        schema:
          type: object
        description: 'Query parameters for all company events ex: &query[start_date]=2016-05-28'
      - name: query[start_date]
        in: query
        required: false
        schema:
          type: string
        description: Company events select start date "YYYY-MM-DD", defaults to 30 days back
      - name: query[end_date]
        in: query
        required: false
        schema:
          type: string
        description: Company events select end date "YYYY-MM-DD", defaults to today
      - name: query[store_event_ids]
        in: query
        required: false
        schema:
          type: array
        description: Filter rsvps by store event ids [1,2,3]
      - name: query[event_ids]
        in: query
        required: false
        schema:
          type: array
        description: Filter rsvps by event ids [1,2,3]
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  rsvps:
                    type: array
                    description: ''
      security:
      - apiKeyAuth: []
  /api/v3/admin/services:
    get:
      summary: Services List
      operationId: GetApiV3AdminServices
      tags:
      - Admin Services
      parameters:
      - name: locale
        in: query
        required: false
        schema:
          type: string
        description: The locale for store data display
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  services:
                    type: array
                    description: List of service objects
      security:
      - apiKeyAuth: []
    post:
      summary: Create Service
      operationId: PostApiV3AdminServices
      tags:
      - Admin Services
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Service Name
                locale:
                  type: string
                  description: The locale for store data display
                number:
                  type: integer
                  description: Service Number
                priority:
                  type: integer
                  description: Service Order Number
                description:
                  type: string
                  description: Localized Service Display Description
                custom_slug:
                  type: string
                  description: Service Custom Slug [for use with Service Landing Page]
                allow_appointments_default:
                  type: boolean
                  description: Allow appointments to be booked for this service, True/False
                appointment_length:
                  type: integer
                  description: Set Appointment Length, Defaults to 30 minutes
                image_url:
                  type: string
                  description: Service Image URL
                icon_url:
                  type: string
                  description: Service Icon Image URL
                private:
                  type: boolean
                  description: Hide this service from customer facing interfaces (ex. “Choose a service” step on appointment
                    modal, store pages). True/False.
                long_description:
                  type: string
                  description: Localized Service Long Description [for use with Service Landing Page]
                enable_landing_page:
                  type: boolean
                  description: Service Landing Page Enabled [for use with Service Landing Page], True/False, Defaults To True
                long_description_position:
                  type: string
                  description: Service Long Description Position [for use with Service Landing Page]. Valid positions are
                    "top" and "bottom". Defaults to "top", if not provided.
                display_stores_count:
                  type: integer
                  description: Number Of Stores To Display for Service [for use with Service Landing Page]. Valid options
                    are 3, 6, 12. Defaults to 12, if not provided.
              required:
              - name
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    description: Service Id
                  number:
                    type: integer
                    description: Service Number
                  priority:
                    type: integer
                    description: Service Order Number
                  name:
                    type: string
                    description: Service Name
                  description:
                    type: string
                    description: Localized Service Display Description
                  slug:
                    type: string
                    description: Service Slug [for use with Service Landing Page]
                  custom_slug:
                    type: string
                    description: Service Custom Slug [for use with Service Landing Page]
                  long_description:
                    type: string
                    description: Localized Service Long Description [for use with Service Landing Page]
                  enable_landing_page:
                    type: boolean
                    description: Service Landing Page Enabled [for use with Service Landing Page], True/False, Defaults To
                      True
                  long_description_position:
                    type: string
                    description: Service Long Description Position [for use with Service Landing Page]. Valid positions are
                      "top" and "bottom". Defaults to "top", if not provided.
                  display_stores_count:
                    type: integer
                    description: Number Of Stores To Display for Service [for use with Service Landing Page]. Valid options
                      are 3, 6, 12. Defaults to 12, if not provided.
                  allow_appointments_default:
                    type: boolean
                    description: Allow appointments to be booked for this service, True/False
                  appointment_length:
                    type: integer
                    description: Appointment Length, Defaults to 30 minutes
                  image_url:
                    type: string
                    description: Service Image URL
                  icon_url:
                    type: string
                    description: Service Icon Image URL
                  private:
                    type: boolean
                    description: Hide this service from customer facing interfaces (ex. “Choose a service” step on appointment
                      modal, store pages). True/False.
                  created_at:
                    type: string
                    description: Service Created At
                  updated_at:
                    type: string
                    description: Service Updated At
                  nextgen_id:
                    type: string
                    description: Nextgen Service ID
                  organization_nextgen_id:
                    type: string
                    description: Nextgen Organization ID
      security:
      - apiKeyAuth: []
  /api/v3/admin/services/{id}:
    get:
      summary: Service
      operationId: GetApiV3AdminServicesId
      tags:
      - Admin Services
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: locale
        in: query
        required: false
        schema:
          type: string
        description: The locale for store data display
      - name: service_id
        in: query
        required: true
        schema:
          type: string
        description: Id of the Company Service
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    description: Service Id
                  number:
                    type: integer
                    description: Service Number
                  priority:
                    type: integer
                    description: Service Order Number
                  name:
                    type: string
                    description: Service Name
                  description:
                    type: string
                    description: Localized Service Display Description
                  slug:
                    type: string
                    description: Service Slug [for use with Service Landing Page]
                  custom_slug:
                    type: string
                    description: Service Custom Slug [for use with Service Landing Page]
                  long_description:
                    type: string
                    description: Localized Service Long Description [for use with Service Landing Page]
                  enable_landing_page:
                    type: boolean
                    description: Service Landing Page Enabled [for use with Service Landing Page], True/False, Defaults To
                      True
                  long_description_position:
                    type: string
                    description: Service Long Description Position [for use with Service Landing Page]. Valid positions are
                      "top" and "bottom". Defaults to "top", if not provided.
                  display_stores_count:
                    type: integer
                    description: Number Of Stores To Display for Service [for use with Service Landing Page]. Valid options
                      are 3, 6, 12. Defaults to 12, if not provided.
                  allow_appointments_default:
                    type: boolean
                    description: Allow appointments to be booked for this service, True/False
                  appointment_length:
                    type: integer
                    description: Appointment Length, Defaults to 30 minutes
                  image_url:
                    type: string
                    description: Service Image URL
                  icon_url:
                    type: string
                    description: Service Icon Image URL
                  private:
                    type: boolean
                    description: Hide this service from customer facing interfaces (ex. “Choose a service” step on appointment
                      modal, store pages). True/False.
                  created_at:
                    type: string
                    description: Service Created At
                  updated_at:
                    type: string
                    description: Service Updated At
                  nextgen_id:
                    type: string
                    description: Nextgen Service ID
                  organization_nextgen_id:
                    type: string
                    description: Nextgen Organization ID
      security:
      - apiKeyAuth: []
    put:
      summary: Update Service
      operationId: PutApiV3AdminServicesId
      tags:
      - Admin Services
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Service Name
                locale:
                  type: string
                  description: The locale for store data display
                number:
                  type: integer
                  description: Service Number
                priority:
                  type: integer
                  description: Service Order Number
                description:
                  type: string
                  description: Localized Service Display Description
                custom_slug:
                  type: string
                  description: Service Custom Slug [for use with Service Landing Page]
                allow_appointments_default:
                  type: boolean
                  description: Allow appointments to be booked for this service, True/False
                appointment_length:
                  type: integer
                  description: Set Appointment Length, Defaults to 30 minutes
                image_url:
                  type: string
                  description: Service Image URL
                icon_url:
                  type: string
                  description: Service Icon Image URL
                private:
                  type: boolean
                  description: Hide this service from customer facing interfaces (ex. “Choose a service” step on appointment
                    modal, store pages). True/False.
                long_description:
                  type: string
                  description: Localized Service Long Description [for use with Service Landing Page]
                enable_landing_page:
                  type: boolean
                  description: Service Landing Page Enabled [for use with Service Landing Page], True/False, Defaults To True
                long_description_position:
                  type: string
                  description: Service Long Description Position [for use with Service Landing Page]. Valid positions are
                    "top" and "bottom". Defaults to "top", if not provided.
                display_stores_count:
                  type: integer
                  description: Number Of Stores To Display for Service [for use with Service Landing Page]. Valid options
                    are 3, 6, 12. Defaults to 12, if not provided.
              required:
              - name
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    description: Service Id
                  number:
                    type: integer
                    description: Service Number
                  priority:
                    type: integer
                    description: Service Order Number
                  name:
                    type: string
                    description: Service Name
                  description:
                    type: string
                    description: Localized Service Display Description
                  slug:
                    type: string
                    description: Service Slug [for use with Service Landing Page]
                  custom_slug:
                    type: string
                    description: Service Custom Slug [for use with Service Landing Page]
                  long_description:
                    type: string
                    description: Localized Service Long Description [for use with Service Landing Page]
                  enable_landing_page:
                    type: boolean
                    description: Service Landing Page Enabled [for use with Service Landing Page], True/False, Defaults To
                      True
                  long_description_position:
                    type: string
                    description: Service Long Description Position [for use with Service Landing Page]. Valid positions are
                      "top" and "bottom". Defaults to "top", if not provided.
                  display_stores_count:
                    type: integer
                    description: Number Of Stores To Display for Service [for use with Service Landing Page]. Valid options
                      are 3, 6, 12. Defaults to 12, if not provided.
                  allow_appointments_default:
                    type: boolean
                    description: Allow appointments to be booked for this service, True/False
                  appointment_length:
                    type: integer
                    description: Appointment Length, Defaults to 30 minutes
                  image_url:
                    type: string
                    description: Service Image URL
                  icon_url:
                    type: string
                    description: Service Icon Image URL
                  private:
                    type: boolean
                    description: Hide this service from customer facing interfaces (ex. “Choose a service” step on appointment
                      modal, store pages). True/False.
                  created_at:
                    type: string
                    description: Service Created At
                  updated_at:
                    type: string
                    description: Service Updated At
                  nextgen_id:
                    type: string
                    description: Nextgen Service ID
                  organization_nextgen_id:
                    type: string
                    description: Nextgen Organization ID
      security:
      - apiKeyAuth: []
  /api/v3/admin/stores/{id_or_number}/alerts:
    get:
      summary: Alerts List
      operationId: GetApiV3AdminStoresId_or_numberAlerts
      tags:
      - Admin Store Alerts
      description: 'Example: `http://company.com/api/v3/admin/stores/:store_id/alerts`


        Example: `http://company.com/api/v3/admin/stores/:store_number/alerts?store_number=true`'
      parameters:
      - name: id_or_number
        in: path
        required: true
        schema:
          type: string
      - name: locale
        in: query
        required: false
        schema:
          type: string
        description: The locale for store data display
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  alerts:
                    type: array
                    description: A list of all alerts at a specific store
      security:
      - apiKeyAuth: []
    post:
      summary: Create Alert
      operationId: PostApiV3AdminStoresId_or_numberAlerts
      tags:
      - Admin Store Alerts
      parameters:
      - name: id_or_number
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                message:
                  type: string
                  description: Display Alert Message
                expires_at:
                  type: string
                  description: 'ex: YYYY-MM-DDT00:00:00.000Z'
              required:
              - message
              - expires_at
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    description: Alert Id
                  store_id:
                    type: integer
                    description: Store Id
                  message:
                    type: string
                    description: Alert Message
                  expires_at:
                    type: string
                    description: The alert will become inactive at the following time
                  created_at:
                    type: string
                    description: The alert was created at the following time
                  updated_at:
                    type: string
                    description: The alert was updated at the following time
      security:
      - apiKeyAuth: []
  /api/v3/admin/stores/{id_or_number}/alerts/{id}:
    get:
      summary: Show Alert
      operationId: GetApiV3AdminStoresId_or_numberAlertsId
      tags:
      - Admin Store Alerts
      description: 'Example: `http://company.com/api/v3/stores/:store_id/alerts/:id`


        Example: `http://company.com/api/v3/stores/:store_number/alerts/:id?store_number=true`'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: id_or_number
        in: path
        required: true
        schema:
          type: string
      - name: locale
        in: query
        required: false
        schema:
          type: string
        description: The locale for store data display
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    description: Alert Id
                  store_id:
                    type: integer
                    description: Store Id
                  message:
                    type: string
                    description: Alert Message
                  expires_at:
                    type: string
                    description: The alert will become inactive at the following time
                  created_at:
                    type: string
                    description: The alert was created at the following time
                  updated_at:
                    type: string
                    description: The alert was updated at the following time
      security:
      - apiKeyAuth: []
    put:
      summary: Update Alert
      operationId: PutApiV3AdminStoresId_or_numberAlertsId
      tags:
      - Admin Store Alerts
      description: 'Example: `http://company.com/api/v3/admin/stores/:store_id/alerts/:id`


        Example: `http://company.com/api/v3/admin/stores/:store_number/alerts/:id?store_number=true`'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: id_or_number
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                message:
                  type: string
                  description: Display Alert Message
                expires_at:
                  type: string
                  description: 'ex: YYYY-MM-DDT00:00:00.000Z'
              required:
              - message
              - expires_at
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    description: Alert Id
                  store_id:
                    type: integer
                    description: Store Id
                  message:
                    type: string
                    description: Alert Message
                  expires_at:
                    type: string
                    description: The alert will become inactive at the following time
                  created_at:
                    type: string
                    description: The alert was created at the following time
                  updated_at:
                    type: string
                    description: The alert was updated at the following time
      security:
      - apiKeyAuth: []
  /{locale}/api/v3/admin/store_events/{store_event_id}/rsvps:
    get:
      summary: List all Store Event Rsvps
      operationId: GetLocaleApiV3AdminStore_eventsStore_event_idRsvps
      tags:
      - Admin Store Event Rsvps
      parameters:
      - name: store_event_id
        in: path
        required: true
        schema:
          type: string
      - name: locale
        in: path
        required: true
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: integer
        description: Page number of your query
      responses:
        '200':
          description: Successful response
          content:
[...]
